{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet"  href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <head>
        <title>steven</title>
    </head>

    <body class="form-body">

        <div class="form-cont">
            <h2>Halo, apa kabar?</h2>
            <form method="POST" action="{% url 'lab6:save_status' %}" class="form">
                {% csrf_token %}
                <p>Status</p>
                {{ form.status }}
                <div class="full">
                    <input type="Submit" class="btn btn-primary" value="Submit" id="submit" />
                </div>
            </form>
        </div>

        <div class="list-group" style="padding: 40px 100px 30px 100px">
            <p style="color: red; font-family:'Varela Round', sans-serif; font-size: 30px" class="stats"><b><span style="color:blue; background-color: rgba(255,255,255,0.5)">Your</span> Status </b></p>
            {% for db in status %}
                <div style="background-color: #ffafaf; padding: 30px; word-wrap: break-word;" class='stats'>
                    <h4 class="mb-1"><b>{{ db.status }}</b></h4>
                    <small class="text-muted">{{ db.date }}</small>
                </div>
                <br>
            {% endfor %}
        </div>
        
    </body>
</html>